<main>
  <h1>Grupos Encontrados</h1>
  <section class="groups-container">
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
    <app-group></app-group>
  </section>
</main>
